* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    font-family: 'Share Tech Mono', monospace;
    color: #00ff00;
    background-image: radial-gradient(#003300 1px, transparent 1px);
    background-size: 20px 20px;
}

.start-screen {
    text-align: center;
    margin-top: 200px;
}

.start-title {
    font-size: 28px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}

.start-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00ff00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #00ff00;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #00cc00;
}

.riddle-container {
    margin-top: 200px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #111;
    border: 2px solid #00ff00;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff00;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-10px);
    } to {
        opacity: 1;
        transform: translate(0);
    }
}


.riddle-container h1 {
    text-align: center;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}


.riddle-title {
    text-align: center;
    padding: 10px 20px;
    background-color: #003300;
    border: none;
    border-radius: 5px;
    color: #00ff00;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 10px #00ff00;
}

.riddle-content {
    margin: 20px auto 0;
    width: 100%;
    transition: opacity 0.3s ease;
}


.riddle {
    margin-bottom: 10px;
}


.options {
    list-style: none;
    padding: 0;
    margin: 0;
}


.option {
    margin: 10px 0;
    cursor: pointer;
    padding: 12px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    background-color: #0f0f0f;
    color: #00ff00;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-align: center;
}


.option.selected {
    background-color: #00aa00;
    color: #000;
    font-weight: bold;
}

.option.correct {
    background-color: #28a745; 
    color: white;
}

.option.wrong {
    background-color: #f00;
    color: white;
}


.submit-btn {
    width: 200px;
    margin: 20px auto 0;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #00ff00;
    color: #000;
    border-radius: 5px;
    display: block;
}

.submit-btn:hover {
    background-color: #00cc00;
}



